@use './reset';
@use './hamburger';
@use './common' as *;

html {
	scroll-behavior: smooth;
}

body {
	font-size: 1.4rem;
	min-width: 340px;

	@media (min-width: 400px) {
		font-size: 1.6rem;
	}
}

.loaderContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	z-index: 1000;

	.loader {
		width: 85px;
		height: 35px;
		--g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #2e2e2e 0);
		--g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #2e2e2e 0);
		background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
		background-size: 25px 25px;
		background-repeat: no-repeat;
		animation: loader 1s infinite alternate;
	}
}
