@use '../../sass/common' as *;

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.photo {
		width: 100%;
		max-width: 450px;
		border-radius: 5px;
		box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	}

	.title {
		margin-top: 0.5em;
		font-size: 1.3em;
		font-weight: 800;
		color: $dark;
		align-self: flex-start;

		a {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 0.5em;

			&::before {
				display: none;
			}

			img {
				width: 1em;
			}
		}
	}

	.text {
		margin-top: 1em;
	}

	a {
		position: relative;
		font-weight: bold;
		white-space: nowrap;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $accent;
			box-shadow: 0px 0px 10px $accent;
			z-index: -1;
		}
	}
}

@media (width>=992px) {
	.item {
		flex-direction: row;
		gap: 3em;

		&.even {
			flex-direction: row-reverse;
		}

		.flexContainer {
			width: 50%;
		}

		.photo {
			width: 30%;
		}
	}
}
