@use '../../sass/common' as *;

.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.7em;
	max-width: 125px;
	
	img {
		width: 60px;
	}

	p {
		font-weight: bold;
		text-align: center;
		font-size: 0.9em;
	}
}
