@use '../../sass/animations';

.content {
	position: relative;
	align-items: center;
	padding-bottom: 20em;
	min-height: 200px;
	width: 100%;
    opacity: 0;

	&--animate {
		animation: stepContent-entrance 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}

	@media (min-width: 768px) {
		padding-left: 1rem;
	}

	.title {
		margin-bottom: 0.7em;
		font-weight: bold;
		font-size: 1.3em;
	}

	.image {
		position: absolute;
		bottom: 25%;
		right: 0;
		width: 80%;
		max-width: 250px !important;
		opacity: 0.2;
		pointer-events: none;
	}
}
