@use '../../sass/common' as *;

.cooperation {
	position: relative;
	padding-top: 10em;
	padding-bottom: 0em;
	color: $white;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $overlay;
		background-color: rgb(27, 27, 27);
		opacity: 0.8;
		z-index: -1;
	}

	.fixedBackground {
		z-index: -2;
	}

	.wrapper {
		position: relative;
		z-index: 2;
	}

	.divider {
		position: absolute;
		top: -1px;
		right: 0;
		width: 50%;
		height: 30px;
		background-color: $white;
		clip-path: polygon(100% 100%, 30px 100%, 0 0, 100% 0);

		@media (width >= 992px) {
			height: 40px;
			clip-path: polygon(100% 100%, 40px 100%, 0 0, 100% 0);
		}
	}

	.headingContainer {
		@include sectionHeading;

		.bg_heading {
			top: 0%;
			left: -5%;
			color: $white;
			z-index: -1;
		}

		.heading {
			text-align: center;
			color: $white;
			z-index: 0;

			img {
				bottom: -0.2em;
				height: 12px;
				width: 100%;
				opacity: 0.8;
			}
		}
	}

	.text {
		margin-top: 2.5em;
	}

	.swiper {
		margin-top: 4em;
	}

	.ctaSection {
		position: relative;
		margin: 0 auto;
		margin-top: 5em;
		max-width: 510px;
		padding: 5em 0;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 150vw;
			height: 100%;
			transform: translateX(-50%);
			background-color: rgba(0, 0, 0, 0.4);
			backdrop-filter: blur(4px);
			pointer-events: none;
			z-index: -1;
		}

		.container {
			display: flex;
			flex-direction: column;
			padding: 3em 0.5em;
			border: 1px solid $white;
			border-radius: 0 30px 0 30px;
		}

		h4 {
			text-align: center;
			font-size: 1.2em;
		}

		p {
			margin: 2em 0;
			text-align: center;
			font-weight: 100;
		}

		a {
			position: relative;
			@include mainButton;
			margin: 0 auto;
			margin-top: 2em;
			transition: box-shadow 0.3s;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}

			&:hover {
				box-shadow: 0px 0px 15px $accent;

				&::before {
					animation: pulse 1s linear forwards;
				}
			}
		}
	}
}

@media (width>=992px) {
	.cooperation {
		.text {
			max-width: 70%;
		}
	}
}

@media (width>=1400px) {
	.cooperation {
		.text {
			max-width: 60%;
		}
	}
}
