@use '../sass/common' as *;

.section {
  padding-top: 3em;
}

.heading {
  color: $font;
  letter-spacing: 7px;
  font-size: 3em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-top: 1em;
  list-style: none;  
  color: rgba(255, 255, 255, 0.3);
}