@use '../../sass/common' as *;

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 0.5em 0;
	transform: translateY(0);
	transition: transform 0.5s, background-color 0.5s;
	
	&--hidden {
		transform: translateY(-100%);
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 75px;
}

.burgerBtn {
	z-index: 30;
}

@media(width >= 768px) {
	.header {
		padding: 1em 0;
	}
}