@use '../../sass/common' as *;

.footer {
	position: sticky;
	bottom: 0;
	padding-bottom: 2em;
	padding-top: 5em;
	font-weight: 200;
	color: $white;
	font-size: 0.9em;
	background-color: $black;
	z-index: -3;
	overflow: hidden;
	transition: opacity 0.4s ease;

	.wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 2em;
		height: 100%;

		@media (orientation: portrait) and (height>=760px) {
			gap: 3em;
		}
	}

	.flexContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
		gap: 2em;

		@media (orientation: portrait) and (height>=760px) {
			gap: 3em;
		}
	}

	.col1,
	.col2,
	.col3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-style: normal;
		gap: 1em;
		width: 100%;
		max-width: 310px;

		.link:hover {
			opacity: 0.5;
		}
	}

	.col1 {
		gap: 1em;

		.logo {
			width: 250px;
		}

		.socialLinks {
			display: flex;
			gap: 2em;

			.link img {
				width: 2em;
			}
		}
	}

	.col2 {
		gap: 1.5em;

		p:nth-child(1) a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.col3 {
		gap: 2em;
		.container {
			display: flex;
			flex-direction: column;
			gap: 1.2em;

			a {
				display: flex;
				justify-content: start;
				align-items: center;
				gap: 0.3em;
				text-decoration: none;
				text-transform: capitalize;

				img {
					width: 1.5em;
				}
			}
		}

		p {
			text-align: center;
		}
	}

	.dev_sign {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.6em;
		font-size: 0.8em;
		opacity: 0.3;

		img {
			width: 70px;
		}
	}

	.toolsImg {
		position: absolute;
		bottom: -2em;
		right: 0;
		width: 35%;
		max-width: 220px;
		transform: translateX(20%);
		filter: contrast(0.8);
	}
}

@media (width >= 992px) {
	.footer {
		padding-top: 10em;

		.wrapper {
			gap: 7em;
		}

		.flexContainer {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		.col1,
		.col2,
		.col3 {
			max-width: none;
			width: 30%;

			.link:hover {
				opacity: 0.5;
			}
		}

		.col1 {
			gap: 3em;

			img {
				width: 100px;
			}

			p {
				line-height: 2em;
			}
		}

		.col3 {
			order: 2;
			gap: 3em;
		}

		.col2 {
			order: 3;
			gap: 1.5em;
			align-items: start;

			p:nth-child(1) a {
				align-items: start;
			}
		}
	}
}
